<!DOCTYPE html>
<html>

  <head>
    <%- include('../partials/head'); %>
    
    
    
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>

<!--  jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay">
            <img src="/img/blog-laptop.jpg" class="img-fluid" alt="Sample image">

          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Featured Articles</h6>
        </a>
  
        <h4 class="h4 mb-4">Welcome to my blog</h4>
  
        <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
        <p class="font-weight-normal">by <a><strong>Riya fox</strong></a>, Articles</p>
  
        
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!--  jumbotron -->
</main>

 
  <div class="container">
          <h1 class="text-center">Latest Posts</h1>
            <p class="text-center">Send your feedback in Comment section
            </p>
            <br>
            <form>
              <input type="text" name="search" placeholder="Search..">
            </form>
            
    <div class="row">
          
          <div class="col-md-4">
            <div class="card">         
              <div class="image">
                <img src="/img/download.png">              
              </div>               
              <div class="content">
                <div class="title">Card Hover Animation</div>
                <div class="sub-title">HTML and CSS</div>
                <div class="bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button>Read More</button>
                </div>
              </div>
            </div>
          </div>
            
          
        
        
          <div class="col-md-4">
            <div class="card">         
              <div class="image">
                <img src="/img/download.png">              
              </div>               
              <div class="content">
                <div class="title">Card Hover Animation</div>
                <div class="sub-title">HTML and CSS</div>
                <div class="bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button>Read More</button>
                </div>
              </div>
            </div></div>
        
            
          
            <div class="col-md-4">
              <div class="card">         
                <div class="image">
                  <img src="/img/download.png">              
                </div>               
                <div class="content">
                  <div class="title">Card Hover Animation</div>
                  <div class="sub-title">HTML and CSS</div>
                  <div class="bottom">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <button>Read More</button>
                  </div>
                </div>
              </div></div>
        
        
         <div class="col-md-4">
           <div class="card">         
             <div class="image">
               <img src="/img/download.png">              
             </div>               
             <div class="content">
               <div class="title">Card Hover Animation</div>
               <div class="sub-title">HTML and CSS</div>
               <div class="bottom">
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               <button>Read More</button>
               </div>
             </div>
           </div></div>

           <div class="col-md-4">
            <div class="card">         
              <div class="image">
                <img src="/img/download.png">              
              </div>               
              <div class="content">
                <div class="title">Card Hover Animation</div>
                <div class="sub-title">HTML and CSS</div>
                <div class="bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button>Read More</button>
                </div>
              </div>
            </div></div>
   
   
           <div class="col-md-4">
             <div class="card">         
               <div class="image">
                 <img src="/img/download.png">              
               </div>               
               <div class="content">
                 <div class="title">Card Hover Animation</div>
                 <div class="sub-title">HTML and CSS</div>
                 <div class="bottom">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                 <button>Read More</button>
                 </div>
               </div>
             </div></div>
   
  </div>
<hr><br>

     <center><h2>WELCOME HOME !!</h2></center>
     <br>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

      <div class="tab">
        <button class="tablinks" style="background-color:rgb(80, 199, 235)", onclick="openCity(event, 'London')" id="defaultOpen">London</button>
        <button class="tablinks" style="background-color:rgb(241, 160, 205)", onclick="openCity(event, 'Paris')">Paris</button>
        <button class="tablinks" style="background-color:rgb(241, 140, 114)", onclick="openCity(event, 'Tokyo')">Tokyo</button>
      </div>


      <div id="London" class="tabcontent">
        
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      </div>

      <div id="Paris" class="tabcontent">
     
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> 
      </div>

      <div id="Tokyo" class="tabcontent">
        
        <p>"Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      </div>

    <br><br>
<p style=" text-align:justify";>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<br>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>





  <div id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Subscribe our Newsletter</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
              <form>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                  <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
          </div>
      </div>
  </div>
</div>




<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script>
  $(document).ready(function(){
    $("#myModal").modal('show');
  });
</script>

<br>
<br>

<%- include('../partials/footer'); %>



</body>
</html>
